* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    justify-content: center;
    background: linear-gradient(to top right, #023833, #089f8f, #c7faea);
    height: 500px;
    width: 500px;
    align-content: center;   
}

button {
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    border: 1px, solid #023833;
    background-color: #f4fffe;
    outline: none;
    font-size: 1.5rem;
}

button:hover {
    background-color: #93a3a2;
}

.spanTwo {
    grid-column: span 2;
    background-color: #023833;
    color: #c7faea; 
}

.extras {
    display: none;
}