* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    justify-content: center;
    background: linear-gradient(to top right, #023833, #089f8f, #c7faea);
    height: 600px;
    width: 500px;
    align-content: center;   
}

button {
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    border: 1px, solid #023833;
    background-color: #f4fffe;
    outline: none;
    font-size: 1.5rem;
}

button:hover {
    background-color: #93a3a2;
}

.spanTwo {
    grid-column: span 2;
    background-color: #023833;
    color: #c7faea; 
}

.extras {
    display: none;
}

.output {
    grid-column: 1 / -1;
    background-color: #c7faea;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #023833;
}

.current {
    font-size: 2rem;
}

.negative {
    background-color: #1E6B64;
    color: #c7faea;
}

.bracket, .operation.percentage {
    background-color: #489464;
    color: #c7faea;
}

.operation {
    background-color: #1E6B64;
    color: #c7faea;
}

.more {
    background-color: #92A9A7;
    color: #313534;
    cursor: not-allowed;
}

.delete {
    background-color: #023833;
    color: #c7faea; 
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: repeat(5, 50px);
        grid-template-rows: minmax(60px, auto) repeat(5, 50px);
        height: 420px;
        width: 350px; 
    }

    button {
        font-size: 1rem;
        padding: 8px;
    }

    .output {
        padding: 8px;
    }

    .current {
        font-size: 1.5rem;
    }
}